<div class="search_container">
  <%= form_tag lists_path, :method => 'get', :id=>'property_search', :remote => true do %>
      <p>
        <%= label_tag :'Quick Search' %>
        <%= text_field_tag :search, params[:search], :placeholder => "Enter here ..", class:'quickSearch' %>
        <br><br>
        <%= label_tag :'Advance Search'%>
        <%= select_tag :category ,options_for_select([ "House", "Villa", "condo", "Apartment" ]),prompt: "Type" %>
        <%= select_tag :city, options_for_select(List.all.collect{|c| c.city}), prompt: "By City",class:'downArrow'  %>
        <%= select_tag :region, options_for_select(List.all.collect {|r| [r.region]}), prompt: "By Region"  %>
        <%= select_tag :bedrooms, options_for_select(1...5), prompt: "By No.of Bedrooms"  %>
        <!--<input type="reset">-->
       <% submit_tag "", :name => nil %>
      </p>
  <% end %>

</div>